<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @billing.amount %>
</p>

<p>
  <strong>Token:</strong>
  <%= @billing.token %>
</p>

<p>
  <strong>Reciep:</strong>
  <%= @billing.reciep_id %>
</p>

<%= link_to 'Back', billings_path %>
